body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* MENU */
header {
    background: #2e1a47;
    color: white;
    padding: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* HERO */
.hero {
    text-align: center;
    padding: 80px 20px;
    background: #f4f4f4;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #6a0dad;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* SEÇÕES */
section {
    padding: 60px 20px;
    text-align: center;
}

/* CARDS */
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background: #eee;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
}

/* CTA */
.cta {
    background: #2e1a47;
    color: white;
}

/* FOOTER */
footer {
    background: #111;
    color: white;
    padding: 20px;
    text-align: center;
}